.content {
    position: relative;
    transition: 0.2s;
}

.content:hover {
    box-shadow: 0 0 0.6em 0 black;
}

.overlay {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.overlay-bg {
    position: absolute;
    background-color: black;
    opacity: 50%;
}

.content:hover .overlay {
    opacity: 100%;
}

img {
    object-fit: cover;
}
