img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0.2em;
    background-color: #444;
    color: #fff;
    transition: 0.2s;
}

.my-btn:hover {
    text-decoration: none;
    background-color: #333;
    color: #fff;
}

.my-btn:active {
    background-color: #000;
}
