{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="stylesheet" href="{% static 'cart/styles.css' %}">
{% endblock head %}
{% block content %}
  <div class="row no-gutters justify-content- align-items-start">
    <!-- Title -->
    <h1 class="col-12 col-md-4 col-lg-6 text-center text-md-left">
      <a class="text-decoration-none text-primary" href="{% url 'main' %}">Generic shop name</a>
    </h1>
    <!-- User buttons -->
    <div class="col-12 col-md-8 col-lg-6 row no-gutters justify-content-end align-items-center pt-3">
      {% if username %}
        <div class="col-6 col-md-9 text-md-right px-2">
          You are logged in as <span class="text-info">{{ username }}</span>
        </div>
        <div class="col-6 col-md-3 p-1">
            <a href="{% url 'logout' %}" class="w-100 btn btn-dark">Log out</a>
        </div>
      {% endif %}
    </div>
  </div>
  <hr>
  {% if entries.all %}
    <h2 class="text-left">Shopping cart:</h2>
    <hr>
    {% for entry in entries %}
      <!-- Product entry start -->
      <div class="row no-gutters align-items-center">
        <!-- Image -->
        <div class="col-2 square">
          <div class="square-content p-md-2 p-0">
            <img class="round border" src="{{ entry.product.image.url }}" alt="{{ entry.product.name }}">
          </div>
        </div>
        <!-- Name -->
        <div class="col-3 pl-2">
          <h4>{{ entry.product.name }}</h4>
        </div>
        <!-- Quantity -->
        <div class="col-2">
          <div class="row no-gutters">
            <div class="col">
              <div class="square">
                <div class="square-content p-1 p-lg-2">
                  <a href="decEntryQuantity/{{ entry.id }}/" class="my-btn">-</a>
                </div>
              </div>
            </div>
            <div class="col row no-gutters">
              <h5 class="m-auto text-center">{{ entry.quantity }}</h5>
            </div>
            <div class="col">
              <div class="square">
                <div class="square-content p-1 p-lg-2">
                  <a href="incEntryQuantity/{{ entry.id }}/" class="my-btn">+</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Price -->
        <div class="col-3 text-right">
          <h5 class="text-success">${{ entry.product.price }}</h5>
        </div>
        <!-- Remove button -->
        <div class="col-2">
          <div class="row no-gutters justify-content-end">
            <div class="col-4">
              <div class="square">
                <div class="square-content p-1 p-lg-2">
                  <a href="removeProductEntry/{{ entry.id }}/" class="my-btn">X</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
    {% endfor %}
    <div class="row justify-content-between">
      <div class="col-4">
        <h3>
          Subtotal: <span class="text-success">${{ subtotal }}</span>
        </h3>
      </div>
      <div class="col-3">
        <a href="{% url 'placeOrder' %}" class="btn btn-dark w-100">Place order</a>
      </div>
    </div>
  {% else %}
    <h2 class="text-center text-muted">There are no products in your cart</h2>
  {% endif %}
  <hr>
{% endblock content %}
