{% extends 'base.html' %}
{% block content %}
    <h1>This is a test</h1>
    <span>{{ username }}</span>
    <div class="row">
      {% for product in products %}
      <div class="col-md-4 col-lg-3 p-2 item">
        <div class="content card h-100">
          <div class="overlay row m-0 h-75 w-100">
            <div class="overlay-bg h-100 w-100 rounded-top"></div>
            <div class="col-10 m-auto">
              <a href="" class="btn btn-dark border-dark w-100 my-2">Buy now</a>
              <a href="" class="btn btn-secondary btn-dark border-dark w-100 my-2">Add to cart</a>
            </div>
          </div>
          <img class="h-75 w-100 border-bottom rounded-top" src="{{ product.image.url }}" alt="{{ product.name }}">
          <div class="px-2 py-1">
            <h5>{{ product.name }}</h5>
            <span>$999.99</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
