{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static "main/styles.css" %}">
{% endblock style %}
{% block content %}
<div class="row">
  <h1 class="col-10 col-md-6 mx-auto p-0 text-center text-md-left">This is a test</h1>
  <div class="col-10 col-md-6 mx-auto p-0 row align-items-center">
    {% if not username == '' %}
    <span class="col text-left text-md-right p-0">
      You are logged in as <span class="text-info">{{ username }}</span>
    </span>
    <a href="{% url 'logout' %}" class="btn btn-dark ml-2">Log out</a>
    {% else %}
    <span class="col text-left text-md-right p-0">
      You are not logged in <span class="text-info">{{ username }}</span>
    </span>
    <a href="{% url 'login' %}" class="btn btn-dark ml-2">Log in</a>
    <a href="{% url 'register' %}" class="btn btn-dark ml-2">Sign up</a>
    {% endif %}
  </div>
  <div class="row">
    {% for product in products %}
    <div class="col-10 mx-auto mx-md-0 col-md-4 col-lg-3 p-2 item">
      <div class="content card h-100">
        <div class="overlay row m-0 h-75 w-100">
          <div class="overlay-bg h-100 w-100 rounded-top"></div>
          <div class="col-10 m-auto">
            <a href="" class="btn btn-dark border-dark w-100 my-2">Buy now</a>
            <a href="" class="btn btn-secondary btn-dark border-dark w-100 my-2">Add to cart</a>
          </div>
        </div>
        <img class="h-75 w-100 border-bottom rounded-top" src="{{ product.image.url }}" alt="{{ product.name }}">
        <div class="px-2 py-1">
          <h5>{{ product.name }}</h5>
          <span>$999.99</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
